body{
    font-family: 'Roboto', sans-serif;
    background-color: #85e0f7;
}

/* navbar css starts here  */
.bg-light{
    background-color: #5f93f3!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #101111!important;
}

.nav-link{
    color: #0c0d0e!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #00ffff;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.text-center{
    color: rgb(238, 255, 0);
    text-shadow: 2px 2px 5px rgb(255, 85, 85);
}

#myAccountBalance{
    color: tomato;
    text-shadow: 2px 2px 5px rgb(229, 255, 0);
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(169, 228, 102)!important;
    color: rgb(0, 0, 0)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgba(214, 89, 245, 0.418)!important;
}

#akhilBankBalance{
    color: tomato;
}

#bimalBankBalance{
    color: tomato;
}

#sohelBankBalance{
    color: tomato;
}

#vholaBankBalance{
    color: tomato;
}

#sureshBankBalance{
    color: tomato;
}

#dipeshBankBalance{
    color: tomato;
}

#raviBankBalance{
    color: tomato;
}

#nischayBankBalance{
    color: tomato;
}

#kshitisBankBalance{
    color: tomato;
}

#buntyBankBalance{
    color: tomato;
}